

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #ddd;
    cursor: pointer;
}

.cell-x {
  background: url("tic-x.png");
  background-size: contain;

}

.cell-o {
  background: url("tic-o.png");
  background-size: contain;
}

#controls {
  background-color: #f5f5f5;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#sliders {
  margin-top: 10px;
  position: relative;
}

#sliders input {
  position: absolute;
  right: 0;
}

.slider-wrapper {
  margin-bottom: 7px;
}

.current-val {
  margin-left: 5px;
  color: red;
}
