<!DOCTYPE html>
<html ng-app="gameOfLife">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game of life</title>
    <link rel="stylesheet" type="text/css" href="app.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>


    <script src="app.js"></script>
  </head>

  <body ng-controller="GameController as game">

    <div class="row">

      <div class="col s3">
        <div id="board-container">
          <div class="cell" ng-repeat="cell in game.board track by $index" ng-class="cell === 0 ? 'cell-o' : (cell === 1 ? 'cell-x' : '')" ng-click="game.humanSelectCell($index, 1)">
          </div>
        </div>
      </div>


      <div class="col s9">
        <div ng-show="game.isOver">
          <span ng-show="game.winner">
            {{game.winner}} won!
          </span>

          <span ng-show="game.draw">
            Draw!
          </span>

          <button class="md-button md-primary md-raised md-ink-ripple" ng-click="game.restart()">start over</button>
        </div>

      </div>

    </div>


  </body>
</html>
